
.vspace-above-15 {
	margin-top: 15px;
}

.vspace-above-25 {
	margin-top: 25px;
}

.vspace-below-15 {
  margin-bottom: 15px;
}

.vspace-below-25 {
  margin-bottom: 25px;
}

.hspace-left-15 {
	margin-left: 15px;
}
.hspace-left-5 {
	margin-left: 5px;
}

.hspace-right-5 {
	margin-right: 5px;
}


.vertical-center {
	vertical-align: middle;
}

html {
  /*background: white;*/
  height: 100%;
}

body {
  /*background: green;*/
  height: 100%;
}

.page-header,
.page-header h2 {
  margin-top: 5px;
}


.page-wrap {
  min-height: 100%;
  margin-bottom: -40px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 40px;
}
.site-footer {
  background: orange;
}

/* text styles */

.bold-text {
  font-weight: bold;
}

/* Video drop area */


div.upload.upload-select {
  cursor: pointer;
  border:dashed 2px #31708f;
  padding:10px;
}

div.upload {
  padding:10px;
}

div.upload.upload-select:hover, div.upload.upload-active {
  background-color: #d9edf7;
  border:solid 2px #bce8f1;
}

div.upload.upload-select:hover, div.upload.upload-active, div.upload.alert-danger {
  border-radius: 20px;
}



div.message-area {
  display: none;
}
div.progress-area {
  display: none;
}
div.upload-prompt {
  display: none;
}

div.upload-prompt img {
  opacity: 0.4;
}

div.upload:hover .upload-prompt img {
  opacity: 0.8;
}

div.upload-prompt h4 {
  margin: 5px;
  color: #31708f;
}

